@import url('https://fonts.cdnfonts.com/css/arial-mt');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F5F5;
}

@media (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

main {
    margin-left: 300px;
    margin-right: 50px;
    }

    @media (max-width: 768px) {
        main {
            margin-left: 0; 
            margin-right: 0; 
            width: 80%;
            flex-direction: column;
            align-items: center;
            display: flex;
        }
    }

a {
    text-decoration: none;
    color: #2D76CB;
    font-family:'Arial Rounded MT', sans-serif;
}
/*--header--*/

.overheader{
    display: block;
    min-height: 30px;
    background-color: #D2D2D2;
    display: flex;
    font-size: 15px;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.overheader p{
    margin-top: 7px;
    margin-left: 5px;
}

.overheader img{
    height: 15px;
    width: 15px;
    margin: 7px;
    margin-left: 100px;
}

header{
    display: flex;
    align-items: center;
    min-height: 75px;
    background-color: #E2E3E6;
    position: sticky;
    z-index: 999;
    top: 30px;
}

.header-logo img{
    display: block;
    max-height: 75px;
}

@media (max-width: 768px) {
    .overheader {
        display: none;
    }
    header {
        justify-content: space-between;
        width: 100%;
        top: 0;
    }

    .header-icons {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .search-form {
        display: none;
    }
    .header-logo img{
        display: flex;
        max-height: 75px;
        padding-left: 150px;
    }

    header{
        background-color: #3DCD58;
    }
 }

/*---search box---*/

.search-form {
    width: 100%;
    min-width: 350px;
    display: flex;
}

.search-box {
    display: flex;
    margin: 0 7%;
    padding: 5px;
    border-radius: 10px;
    background: #f7f7f7;
    width: 100%;
    max-width: 500px;
    border: #cfcfcf solid 1px;
}

.search-box:hover {
    background-color: #ffffff;
    transition: 0.1ms;
}

.input-container {
    flex: 1 1 auto;
}

.search-box input[type="text"] {
    background-color: #f7f7f7;
    display: inline-block;
    padding: 5px;
    border: none;
    font-size: 1em;
    width: 100%;
    outline: none;
}

.search-box input[type="text"]:hover {
    background-color: #ffffff;
}

.search-icon-container {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.search-box img {
    display: inline-block;
    width: 20px;
    margin: 4px 4px 0 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: white;
    width: 100%;
    max-width: 500px;
    overflow: auto;
    z-index: 1;
    border-radius: 0 0 10px 10px;
    border: #cfcfcf 1px solid;
    border-top: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*---header icons---*/

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.favorit-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.favorit-container img {
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 1ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.favorit-container img.favorit-hover {
    opacity: 0;
}
.favorit-container:hover img.favorit-hover {
    opacity: 1;
}
.favorit-container:hover img.favorit-default {
    opacity: 0;
}

.notifikationer-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.notifikationer-container img {
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 1ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.notifikationer-container img.notifikationer-hover {
    opacity: 0;
}
.notifikationer-container:hover img.notifikationer-hover {
    opacity: 1;
}
.notifikationer-container:hover img.notifikationer-default {
    opacity: 0;
}


.profil-container {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    background-color: #f7f7f7;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profil-container:hover {
    background-color: #ffffff;
}

.profil-container img {
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: 1ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.profil-container img.din-profil-hover {
    opacity: 0;
}
.profil-container:hover img.din-profil-hover {
    opacity: 1;
}
.profil-container:hover img.din-profil-default {
    opacity: 0;
}

/* side-navigation */



.sidenav a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 15px;
    color: #77787C;
    display: inline-flex;
    margin-right: 30px;
    }

    .sidenav {
        height: 100%;
        width: 227px;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        margin-top: 50;
        background-color: white;
        padding-top: 20px;
        border-right: #e3e3e3 1px solid;
      }

    .side-icon {
        height: 20px;
        width: auto;
        padding-right: 25px;
    }

    #Hjem {
        color: #009530;
        font-weight:bold;
    }

    .btn-nav {
    padding-right:30px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    table-layout: fixed;
    text-align: left;
    }

    .btn-nav:hover {
        background-color: #F6F5F5;
    }

    @media (max-width: 768px) {
        .sidenav {
            display: none;
        }
    }

    /* velkommen-section */

.green-figure {
    width: 98%;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.green-figure img {
    width: 98%; 
    height: auto; 
    opacity: 20%;
}

.velkommen-tekst {
    position: absolute;
    text-align: center;
    color: #026723;
    font-size: 32px;
    margin-left: 227px;
    font-family:'Arial Rounded MT', sans-serif;
    font-weight: 600;
}

@media (max-width: 768px) {
    .velkommen-tekst {
        font-size: 18px;
        margin-left: 0;
    }
}

     /* box struktur */

     .box-section {
        background-color:white;
        border-radius: 5px;
        margin-top: 30px;
        padding: 20px;
    }
    @media (max-width: 768px) {
        .box-section {
            width: 100%; 
        }
    }

    /* mine-points */

    .headline-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }
    
    .headline {
        display: inline-flex;
        align-items: center;
    }
    
    .headline h2 {
        margin: 0;
        font-family: 'Arial Rounded MT bold', sans-serif;
        font-size: 20px;
    }
    
    .link-dot-icon {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
    }
    
    .link-dot-icon a {
        margin-right: 5px; 
    }
    
    .link-dot-icon img {
        height: 15px;
        width: auto;
    }

    .outline {
        border: solid #E2E3E6 1px;
        border-radius: 5px;
        padding-top: 20px;
    }

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.points-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.label {
    display: flex;
    color: #9FA0A4;
    font-family: 'Arial Rounded MT', sans-serif;
    padding-bottom: 20px;
    justify-content: center;
}

.value {
    color: #009530;
    font-family: 'Arial Rounded MT bold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.line {
    border: solid #E2E3E6 1px;
    justify-content: center;

}

@media (max-width: 768px) {
    .headline h2 {
        font-size: 15px;
    }


    .label {
        font-size: 12px;
    }

    .points-container{
        margin-left: 30px;
        margin-right: 30px;
    }

    .value {
        font-size: 20px; 
    }

        .line {
            border: solid #E2E3E6 0.5px;
        }

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}

/* Ordrer section */

.table-container {
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    color: #77787C; 
    font-family: 'Arial Rounded MT', sans-serif;;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.order-table th, .order-table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
}

.order-table th {
    font-weight: bold;
    padding: 10px;
    color: black;

}

.order-table th, .order-table td {
    text-align: center;
}

.order-table td span.status {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
    justify-content: space-between;
}

.order-table td span.confirmed {
    background-color: #009530;
}

.order-table td span.delivered {
    background-color: #e0e0e0;
    color: #77787C; 
}

.order-table tbody tr:last-child td {
    border-bottom: none;
}

.table-container {
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    color: #77787C; 
    font-family: 'Arial Rounded MT', sans-serif;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.order-table th, .order-table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e3e3e3;
}

.order-table th {
    font-weight: bold;
    padding: 10px;
    color: black;

}

.order-table th, .order-table td {
    text-align: center;
}

.order-table td span.status {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
    justify-content: space-between;
}

.order-table td span.confirmed {
    background-color: #009530;
}

.order-table td span.delivered {
    background-color: #e0e0e0;
    color: #77787C; 
}

.order-table tbody tr:last-child td {
    border-bottom: none;
}

@media (max-width: 768px) {
    .table-container {
        font-size: 12px;
    }
    .order-table td span.delivered {
        font-size: 12px;
    }

    .order-table td span.confirmed {
        font-size: 12px;
    }

    .box-kurser {
        flex-direction: column;
        align-items: center;
    }
 }
    

/* produkter-section */

.box-produkter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.box-p1, .box-p2, .box-p3, .box-p4 {
    border: solid #e3e3e3 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 260px;
    padding: 20px;
    position: relative;
    flex-wrap: wrap;
}

.stikkontakt-billede {
    height: 150px;
    width: auto;
    display: flex;
    align-self: center;
    position: relative;
    padding: 20px 0;
    width: auto;

}

.produktbekrivelse {
    font-family: 'Arial Rounded MT bold', sans-serif;
    padding-bottom: 10px;
    font-size: 15px;
}

.produkt-tekst {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}

.lk-logo {
    height: 12px;
    width: auto;
}

.green-logo {
    max-height: 70px;
    width: auto;
    display:inline-block;
    position: absolute;
    top: 0;
    left: -6px;
}

@media (max-width: 768px) {
    .box-produkter {
        flex-direction: column;
        align-items: center;
        gap: 20px
    }
}
/* slideshow-sektion */
p{
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 16px;
}

h2{
    font-family: 'Arial Rounded MT bold', sans-serif;
    font-size: 31px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    width: 1000px;
}

.etSlide {
    display: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}



.slide-content {
    text-align: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.039);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-size: 25px;
}

.next {
    right: 0;
}

.etSlide:nth-child(1) {
    background-image: url('billeder/slideshowbillede1.png');
}

.etSlide:nth-child(2) {
    background-image: url('billeder/slideshowbillede2.jpg');
}

.etSlide:nth-child(3) {
    background-image: url('billeder/slideshowbillede3.png');
}


.slideknap1, .slideknap2, .slideknap3{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 10px; 
}

.slideknap1{
    background-color: #FFFFFF; 
    border: none;
    color: #05B22B;
}

.slideknap2{
    background-color: #05B22B;
    border: none;
    color: #FFFFFF;
}

.slideknap3{
    background-color: #ffffff00;
    border: 1px solid white;
    color: white;
}

@media screen and (max-width: 800px) {
    .etSlide {
        display: flex;
        height: auto;
        width: 300px;
    }
  }
  


/* kurser-sektion */

.box-kurser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}

.box-k1, .box-k2, .box-k3 {
    border: solid #e3e3e3 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    max-width: 345px;
}

.kurser-foto {
    width: 320px;
    max-height: 170px;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    margin-top: 5px;
}

.kurser-beskrivelse {
    font-family: 'Arial Rounded MT bold', sans-serif;
    font-size: 15px;
    padding: 10px 5px 10px 5px;
}

.kurser-tekst {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 15px;
    padding: 0 10px 10px 5px;
    color: #77787C;
}

.tid-tilmelding {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 5px 5px 5px 5px;
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 12px;
}

.tid {
    color: #77787C;
}

.tilmelding {
    font-size: 12px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .box-kurser {
        flex-direction: column;
        align-items: center;
    }
}

/* hjælp-sektion */


.box-hjælp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.box-h1, .box-h2, .box-h3, .box-h4 {
    border: solid #e3e3e3 1px;
    border-radius: 5px;
    display: flex;
    padding: 5px;
    max-width: 270px;
    flex-direction: column;
    justify-content: space-between;
}

.support-hjælp {
    height: 25px;
    width: auto;
    margin-left: 15px;
}

.hjælp-beskrivelse {
    font-family:'Arial Rounded MT bold', sans-serif;
    font-size: 18px;
    padding: 15px;
}

.hjælp-tekst {
    max-width: 250px;
    font-size: 12px;
    font-family: 'Arial Rounded MT', sans-serif;
    padding: 15px;
}

.link-support {
    padding: 15px;
    font-size: 12px;
    font-family:'Arial Rounded MT', sans-serif;
}

@media (max-width: 768px) {
    .box-hjælp {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/*---Support section---*/

.headline h3 {
    margin: 0;
    font-family: 'Arial Rounded MT bold', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 30px 5px;
}

.lille-box-section {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 30px;
}

.lille-box-section *{
    flex: 1;
}

.lille-box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    font-family: 'Arial Rounded MT', sans-serif;
}

.top-lille-box {
    display: inline-block;
}

.top-lille-box img {
    height: 20px;
    max-width: 20px;
}

.lille-box p {
    font-size: 16px;
    padding: 5px 30px;
    margin-bottom: 30px;
}

.lille-box button {
    background-color: #e3e9df;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 0.9em;
    cursor: pointer;
}

.lille-box button:hover {
    background-color: #d6e0cf;
}

/*---searchform i faq---*/

.search-form2 {
    width: 100%;
    min-width: 350px;
    display: flex;
}

.search-box2 {
    display: flex;
    padding: 5px;
    border: solid #d6d6d6 1px;
    border-radius: 10px;
    background: #f7f7f7;
    width: 100%;
    max-width: 500px;
}

.search-box2:hover {
    background-color: #ffffff;
    transition: 0.1ms;
}

.input-container2 {
    flex: 1 1 auto;
}

.search-box2 input[type="text"] {
    background-color: #f7f7f7;
    display: inline-block;
    padding: 5px;
    border: none;
    font-size: 1em;
    width: 100%;
}

.search-box2 input[type="text"]:hover {
    background-color: #ffffff;
}

.search-icon-container2 {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
}

.search-box2 img {
    display: inline-block;
    width: 20px;
    margin-top: 4px;
    margin-right: 4px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px 0 20px;
}

.keywords li {
    list-style: none;
    font-size: 13px;
    font-family: 'Arial Rounded MT', sans-serif;
    border: solid #aaaaaa 1px;
    border-radius: 50px;
    padding: 4px 12px;
    background-color: #ffffff;
}

.keywords li:hover {
    background-color: #eeeeee;
}

/*---accordion---*/

.accordion-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.accordion .contentbox {
    display: grid;
    grid-row: span 2;
    margin: 10px 0;
}

.accordion .contentbox .question {
    position: relative;
    font-family: 'Arial Rounded MT bold', sans-serif;
    font-size: 16px;
    padding: 25px;
    border-radius: 5px;
    background-color: #e3e9df;
    color: #000000;
    cursor: pointer;
}

.faq-pil {
    position: absolute;
    height: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.accordion .contentbox .answer {
    position: relative;
    font-family: 'Arial Rounded MT', sans-serif;
    background-color: #ffffff;
    height: 0;
    overflow: hidden;
    margin-top: -3px;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentbox.active .answer {
    height: fit-content;
    padding: 30px 25px;
    border: #ececec solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.question-image {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px;
}

.question-image img {
    padding-bottom: 20px;
    overflow:auto
}

/*---kontakt section---*/

.kontakt-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kontakt-formular {
    width: 100%;
    padding: 25px 30px;
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 18px;
}

.Kontakt-formular .info-text {
    font-size: 14px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.Kontakt-formular form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0 12px 0;
}

form .user-details .input-box {
    width: calc(100% / 2 - 40px);
    margin-bottom: 15px;
}

.user-details .input-box .details {
    display: block;
    font-family: 'Arial Rounded MT bold', sans-serif;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: solid #9FA0A4 1px;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3 ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #3DCD58;

}

form .meddelelse {
    margin-bottom: 40px;
}

form .meddelelse .input-box {
    width: 100%;
    margin-bottom: 15px;
}

.meddelelse .input-box .details {
    display: block;
    font-family: 'Arial Rounded MT bold', sans-serif;
    margin-bottom: 5px;
}

.meddelelse .input-box input{
    height: 150px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: solid #9FA0A4 1px;
    padding-left: 15px;
    padding-bottom: 95px;
    font-size: 16px;
    transition: all 0.3 ease;
}

.meddelelse .input-box input:focus,
.meddelelse .input-box input:valid{
    border-color: #3DCD58;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.checkbox1 {
    position: relative;
    margin-bottom: 10px;
}

.checkbox2 {
    position: relative;
    margin-bottom: 40px;
}

.send-button {
    padding: 10px 20px;
    background-color: #3DCD58;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.send-button:hover {
    background-color: #36b24d;
}


/*---Mediaquieries---*/

@media only screen and (max-width: 600px) {
    .headline h3 {
        font-size: 14px;
    }

    .keywords {
        gap: 0.8rem;
        margin: 15px 0 15px;
    }

    .keywords li{
        font-size: 10px;
        border-radius: 50px;
        padding: 3px 8px;
    }
  }

@media only screen and (max-width: 800px) {
    
/*---search form (ofte stillede spørgesmål)---*/

    .search-form2 {
        min-width: fit-content;
    }
    
    .search-box2 {
        padding: 2px;
    }
    
    .search-box2 input[type="text"] {
        font-size: 0.8em;
        padding-top: 7px;
    }
    
    .search-box2 img {
        width: 16px;
        margin-top: 5px;
        margin-right: 4px;
    }

    .user-details .input-box input {
        height: 35px;
    }
  }

  @media only screen and (max-width: 1000px) {

    .accordion-container {
        grid-template-columns: 1fr;
    }
      /*---kontakt formular---*/

    .kontakt-container {
        max-width: 100%;
    }

    form .user-details .input-box {
        width: 100%;
        margin-bottom: 15px;
    }
  }

/* Footer */

.footer {
    width: 100%;
    margin-top: 50px;
    background-color: #f1f1f1;
}

.top-footer {
    background-color: #E2E3E6;
    height: 70px;
    border-top: #D0D1D1 solid 1px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-footer {
    background-color: #3DCD58;
    height: 30px;
    font-size: 11px;
    padding: 0 20px;
}

.fot-text1 a, .fot-text2 a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.fot-text1 a:hover, .fot-text2 a:hover {
    text-decoration: underline;
}

.socials-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 775px;
}

.socials-icons img {
    width: 27px;
    height: 20px;
    padding-left: 7px;
}

.black-logo-footer img {
    height: 45px;
}

.footer-items2 {
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
@media (max-width: 768px) {
    .top-footer, .bottom-footer {
        flex-direction: row;
        text-align: center;
        height: auto; 
        padding: 10px 0; 
    }

    .fot-text1, .fot-text2 {
        margin: 10px 0; 
    }

    .fot-text1 a, .fot-text2 a {
        display: block;
        margin: 5px 0px; 
    }

    .footer-items2 {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .socials-icons {
        margin-left: 20px;
    }

    .black-logo-footer img {
        margin-right: 20px;
    }
}